<article class="post-single">

  <header class="post-title">
    <h1>{{ list.title }}</h1>
  </header>

  <!-- Post Tags -->
   <footer class="post-tags">
  {{ #with list as | list | }}
    {{ #each list.entries as |e| }}
        <a class={{#if (eq list.kind "tag")}}"square-tag"{{else}}"round-tag"{{/if}} href="{{ abs-url list.kind (as-path e.title) }}">
          {{ e.title }}
          <sup><strong><sup>{{ e.count }}</sup></strong></sup>
        </a>
    {{ /each }}
   {{ /with }}
   </footer>

  <!-- Post Nav -->
  

  <!-- Disqus -->
  
</article>

