<!-- Main Title -->
  <header class="post-title">
    <h1>{{ list.title }}</h1>
  </header>

<!-- $pages -->

<!-- Articles -->
{{ #with list as | list | }}
  {{ #each list.entries }}
  <article class="post-entry">
    <h2>{{ title }}</h2>
    <time>{{ date }}</time>
    <a href="{{ abs-url list.kind (as-path title)  }}"></a>
  </article>
  {{ /each }}
{{ /with }}

<!-- Main Nav -->
{{ #if (gt paginator.num 1) }}
<nav class="main-nav">
  {{ #if paginator.has_prev }}
  <a class="prev" href="{{ paginator.prev_url }}">←  Prev Page</a>
  {{ /if }}<!---->
  {{ #if paginator.has_next }}
  <a class="next" href="{{ paginator.next_url }}">Next Page  →</a>
  {{ /if }}
</nav>
{{ /if }}<!---->
