<article class="post-single">

  <header class="post-title">
    <p>
      <time>{{ post.date }}</time>
      <span>{{ post.author }}</span>
      {{ end }}
    </p>
    <h1>{{ post.title }}</h1>
  </header>
  <section class="post-content">{{{ post.content }}}</section>

  <!-- Post Tags -->


  <!-- Post Nav -->
  

  <!-- Disqus -->
  
</article>

