<article class="post-single">

  <header class="post-title">
    <p>
      <time>{{ post.date }}</time>
      <span>{{ post.author }}</span>
      <span>/{{ post.category }}</span>
    </p>
    <h1>{{ post.title }}</h1>
  </header>
  <section class="post-content">{{{ post.content }}}</section>

  <!-- Post Tags -->
   <footer class="post-tags">
       <a class="round-tag" href="{{ abs-url "category" post.category }}">{{ post.category }}</a>
   {{ #each post.tags as |t| }}
       <a href="{{ abs-url "tag" t }}">{{ t }}</a>
   {{ /each }}
   </footer>

  <!-- Post Nav -->
  

  <!-- Disqus -->
  
</article>

